@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Images/SuperZapatos.png">
    Welcome to the store, take sit an enjoy our offers.
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About me</h2>
        <p>
            I am very interested to take part of GAP team, this is my test and I hope that
            everything you asked me to do is in this solution.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Quick workaround</h2>
        <p>This test is made by: A couple of views, models, controller MVC who request information from
        a WebApi in another project.</p>
    </div>
    <div class="col-md-4">
        <h2>Templates</h2>
        <p>To save time I used the default templates for ASP.NET and elaborate a simple web pages using bootstrap,
        also I made the simple logo, have a nice day.</p>
    </div>
</div>